<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>sparkly</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow sparkly to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Sparkly needs to use the camera. It will allow you to upload your photos to sparkly feed and meet new people who liked your photos.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow sparkly experiences to access your contacts</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow sparkly to use your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow sparkly to use your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow sparkly to use your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sparkly needs to use the microphone. You will be able to record videos with sound.</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow sparkly to access your device's accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give sparkly periences permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Give sparkly periences permission to access your photos</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow sparkly to access your reminders</string>
	<key>UIAppFonts</key>
	<array>
		<string>Cormorant-Regular.ttf</string>
		<string>IBMPlexMono.ttf</string>
		<string>IBMPlexSans-Light.ttf</string>
		<string>IBMPlexSans.ttf</string>
		<string>IBMPlexSerif-BoldItalic.ttf</string>
		<string>IBMPlexSerif-ExtraLightItalic.ttf</string>
		<string>IBMPlexSerif-Italic.ttf</string>
		<string>IBMPlexSerif-LightItalic.ttf</string>
		<string>IBMPlexSans-Medium.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
